<div class="toolbar" role="banner">
  <span class="material-icons">videogame_asset</span>
<!--  <a routerLink=""><button mat-button>Home</button></a>-->
<!--  <a routerLink="/games"><button mat-button>Game</button></a>-->
  <button [routerLink]="''"  mat-button>Games List</button>
  <button [routerLink]="'/game'"  mat-button>Game</button>
  <div class="spacer"></div>
</div>
<!--<div #topTarget></div>-->
<div class="content" role="main">
  <div #topTarget class="back-to-top">
    <button mat-fab aria-label="Example icon button with a delete icon" (click)="goToTop(topTarget)">
      <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
  </div>
  <router-outlet></router-outlet>
<!--  <app-games class="all-games" [slug]="gameCategories" [searchGame]="gameName"></app-games>-->
<!--  <router-outlet></router-outlet>-->
<!--  <footer>-->
<!--  </footer>-->
</div>

