.list-component {
  .filter-block {
    margin-bottom: 50px;

    mat-form-field {
      margin-right: 50px;
    }
  }

  .games-box {
    .game-box {
      opacity: 0.9;
      transition: 0.3s ease;
      cursor: pointer;

      .view-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        .game-img {
          border-radius: 3px;
          box-shadow: 10px 5px 5px black;
        }

        .game-name {
          text-align: center;
        }
      }
    }

    .game-box:hover {
      opacity: 1;
      transform: scale(1.5, 1.5);
    }
  }
}
